*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
h1{
    padding: 10px;
}
h2{
    text-decoration: underline;
    padding: 10px;
}
h3{
    text-align: center;
    padding: 20px;
}
header{
    
    background-color: rgb(102, 132, 160);
    font-weight: bold; 
}
section{
    background-color: rgb(175, 180, 175);
    
}
section  a{
    color:rgb(255, 255, 255);
}
footer{
     background-color: rgb(226, 129, 19);
     text-align: center;
     padding: 30px;
   
}
li {
    display: inline-block;
    padding: 10px;
   
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}
.content4{
    width: 70%;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    
}
.pic1, .pic2  {
    max-width: 50%;
    float:right;
    width:350px;
    padding: 15px;
    height: 280px;
    
    
}

.education-Work{
    background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
   padding: 25px;
  
}
#content1{
    padding: 20px;

}
#content2 p, #content2 a, #content3 p, #content3 a{
    padding: 40px;
 
}
#content2, #content3{
    height: 350px;
     
 }

